*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.NavBar{
  width: 100%;
  box-shadow: 0px 0.5px 10px rgb(108, 108, 108);
  margin-bottom: 0px;
}
.NavBar .solde{
  background-color: rgba(0, 0, 255, 0.712);
  color: white;
  font-family: 'Trebuchet MS';
  text-align: center;
  padding: 4px;
  font-size: 13px;
}
.NavBar nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  padding-inline: 25px;
}
.NavBar .searchBar{
  position: relative;
}
.NavBar .searchBar i{
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  color: rgb(88, 88, 88);
}
.NavBar input{
  padding: 8px;
  outline: none;
  border: solid 1px rgb(88, 88, 88);
  border-radius: 7px;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
}
.NavBar h1{
  font-family: 'Franklin Gothic Medium';
  color: rgba(30,30,30);
  font-size: 25px;
}
.NavBar ul{
  list-style: none;
}
.NavBar ul li{
  float: left;
  color: rgba(30,30,30);
  padding-inline: 20px;
  font-family: 'Trebuchet MS';
  position: relative;
}
.NavBar ul li span{
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.712);
  border-radius:50%;
  position: absolute;
  top:-35%;
  right: 18%;
  font-size: 10px;
  color: white;
}
.slideItem{
  flex:0 0 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  transition: ease 0.2s;
}
.slideItem .imgs{
  position: relative;
  height: 100%;
  flex:1 0 50%;
}
.slideItem .bubble{
  position: absolute;
  top: 20%;
  left: 10%;
  width: 60%;
  height: 80%;
  border-radius: 50%;
  animation: bubble 5s ease 0s infinite ;
}
@keyframes bubble {
  0%{background-color: rgba(78, 2, 2, 0.688);}
  33%{background-color: rgba(2, 39, 78, 0.688);}
  66%{background-color: rgba(78, 2, 53, 0.688);}
  100%{background-color: rgba(78, 2, 2, 0.688);}
}
.slideItem .imgContainer{
  width: 100%;
  height: 100%;
  position: absolute;
}
.slideItem img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.slideItem .writing{
  flex: 1 0 50%;
  text-align: left;
  padding: 10px;
}
.slideItem .writing h1{
  margin-bottom: 15px;
  font-size: 37px;
  font-family: 'Franklin Gothic Medium';
  color: black;
}
.slideItem .writing p{
  margin-bottom: 15px;
  font-size: 28px;
  font-family: 'Trebuchet MS';
  color: rgb(88, 88, 88);
}
.slideItem .writing button{
  padding: 10px 15px;
  font-size: 23px;
  font-family: 'Trebuchet MS';
  color: black;
  background-color: transparent;
  border: solid 1px black;
  box-shadow: -5px 10px 1px black;
  margin-top: 20px;
  cursor: pointer;
}
.slides{
  height: 85vh;
  position: relative;
}
.slides .slideContainer{
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 100%;
}
.slides .slideIt{
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
  border-radius:50%;
  background-color: rgba(128, 128, 128, 0.514);
  cursor: pointer;
}
.slides .right{
  right: 25px;
}
.slides .left{
  left: 25px;
}
.categorieSec{
  min-height: 100vh;
  padding: 55px;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
.categorie{
  height: 600px;
  position: relative;
  flex: 1 1 400px;
  box-shadow: 0px 2px 10px rgb(105, 104, 104) ;
}
.categorie img{
  width: 100%;
  height: 100%;
  object-fit:cover
}
.categorie .categorieDesc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 75%;
  text-align: center;
}
.categorie .categorieDesc h1{
  font-size: 30px;
  color: white;
  font-family: 'Franklin Gothic Medium';
  margin-bottom: 20px;
}
.categorie .categorieDesc p{
  font-size: 25px;
  color: white;
  background-color: rgba(128, 128, 128, 0.619);
  font-family: 'Trebuchet MS';
  padding: 8px;
}
.categorie .categorieDesc button{
  background-color: white;
  color: rgb(108, 108, 108);
  font-family: 'Franklin Gothic Medium';
  padding: 17px 12px;
  border: none;
  margin-top: 30px;
  font-size: 20px;
}
.popular{
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.item{
  flex: 1 0 300px;
  height: 300px;
  position: relative;
  box-shadow: -4px 2px 8px rgb(204, 204, 204);
}
.item:hover .choices{
  opacity: 1;
}
.item:hover img{
  filter: blur(5px);
}
.item img{
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: ease 0.15s;
}
.item .choices{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 18px;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: ease 0.2s;
  width: 60%;
  border-radius: 5px;
}
.item .choices i{
  width: 45px;
  height: 45px;
  background-color: whitesmoke;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
}
.Cart .headCart .head{
  width: 100%;
  text-align: center;
  font-family: 'Franklin Gothic Medium';
  font-size: 35px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.Cart .headCart .bottom{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  padding: 15px;
}
.Cart .headCart .bottom div{
  width: 33%;
  text-align: center;
}
.Cart .headCart .pContainer{
  display: flex;
  justify-content: space-around;
}
.Cart .headCart button, .Cart .addition button{
  border: solid 1px black;
  box-shadow: -5px 5px 2px black;
  font-size: 18px;
  font-family: 'Trebuchet MS';
  background-color: black;
  color: white;
  padding: 8px 15px;
}
.Cart .headCart .firstBtn{
  background-color: white;
  color: black;
}
.Cart .headCart p{
  text-decoration: underline solid 1px;
  padding: 5px;
  font-family: 'Trebuchet MS';
}
.Cart .bottomCart{
  display: flex;
  flex-wrap: wrap;
  padding-top: 45px;
}
.Cart .cartElemContainer{
  flex: 2 1 max(350px,60%);
}
.Cart .cartElement{
  width: 100%;
  border-bottom:solid 1px rgba(194, 193, 193, 0.804) ;
  display: flex;
  padding: 20px;
}
.Cart .cartElement .cartImg{
  width: 20%;
  height: 150px;
}
.Cart .cartElement .cartImg img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Cart .cartElement .cartInfos{
  width: 50%;
  padding-left: 10%;
}
.Cart .cartElement .cartInfos h1{
  margin-top: 12px;
  font-family: 'Franklin Gothic Medium';
  font-size: 19px;
}
.Cart .cartElement .cartInfos h1 span{
  font-size: 16px;
  color: gray;
}
.Cart .cartElement .cartInfos div{
  background-color: brown;
  padding: 15px;
  border-radius: 20px;
  width: 15px;
  margin-top: 15px;
}
.Cart .cartElement .cartOptions {
  width: 30%;
}
.Cart .cartElement .cartOptions div{
  margin-top: 23px;
  font-size: 20px;
  color: black;
  font-family: 'Trebuchet MS';
  text-align: center;
}
.Cart .cartElement .cartOptions span{
  cursor: pointer;
}
.Cart .addition{
  flex: 2 0 250px;
  padding: 20px;
  padding-left: 75px;
  padding-bottom: 75px;
  border-right: none;
  height: fit-content;
  border-radius: 10px;
  box-shadow: -2px 5px 8px rgba(162, 162, 162, 0.688);
}
.Cart .addition h1{
  font-size: 28px;
  margin-bottom: 15px;
  font-family: 'Franklin Gothic Medium';
}
.Cart .addition p{
  color: gray;
  font-size: 17px;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS';
}
.Cart .addition span{
  margin-left: 30px;
}
.Cart .addition h2{
  margin-top: 18px;
  font-family: 'Franklin Gothic Medium';
  margin-bottom: 20px;
}
.singleItem{
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.singleItem .imCon{
  flex: 1 0 380px;
  height: 400px;
}
.singleItem .imCon img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.singleItem .infoCon{
  flex: 1 0 380px;
  padding: 30px;
}
.singleItem .infoCon .writing h1{
  font-family: 'Franklin Gothic Medium';
  font-size: 28px;
  color: black;
  margin-bottom: 15px;
}
.singleItem .infoCon .writing p{
  font-family: 'Trebuchet MS';
  font-size: 18px;
  color: rgb(35, 35, 35);
  margin-bottom: 18px;
}
.singleItem .infoCon .writing h2{
  font-family: 'Trebuchet MS';
  font-size: 22px;
  color: rgb(13, 13, 13);
}
.singleItem .choices{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap:35px;
  width: 60%;
  padding: 15px;
  justify-content: space-between;
}
.singleItem .choices-1{
  display: flex;
  align-items: center;
  gap: 10px;
}
.singleItem .choices-1 label{
  position: relative;
  border-radius: 50%;
  border: solid 1px black;
  padding: 12px;
  cursor: pointer;
}
.singleItem .choices-1 label input{
  position: absolute;
  height: 0;
  opacity: 0;
  width: 0;

}
.singleItem .choices-1 .checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 135%;
  width: 135%;
  border-radius: 50%;
  z-index: -1;
}
.singleItem .choices-1 label input:checked ~ .checkmark {
  background-color: rgba(0, 0, 255, 0.712);
}
.singleItem .choices p, .singleItem .choices label{
  font-family: 'Trebuchet MS';
  font-size: 18px;
}
.singleItem .choices select{
  padding: 4px 15px;
  border: none;
  font-family: 'Trebuchet MS';
  font-size: 16px;
  border: solid 3px rgba(0, 0, 255, 0.712);
  outline: none;
  margin-left: 10px;
}
.singleItem .choices button{
  padding: 8px 12px;
  border: none;
  background-color: rgba(0, 0, 255, 0.712);
  color: white;
  font-family: 'Trebuchet MS';
  font-size: 18px;
  cursor: pointer;
}
.singleItem .choices p span{
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
}
.singleItem .choices p span:nth-child(2){
  border: solid 2px rgba(0, 0, 255, 0.712);
  padding: 5px;
  font-size: 22px;
  border-radius: 5px;
}
footer{
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  border-top: solid 3px black;
  margin-top: 20vh;
}
footer div{
  flex: 1 0 350px;
}
footer h1{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium';
  margin-bottom: 15px;
}
footer p, footer li{
  font-size: 17px;
  font-family: 'Trebuchet MS';
  margin-bottom: 8px;
  color: rgb(35, 35, 35);
}
footer .div1 .socials{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  margin-top: 30px;
}
footer ul{
  list-style: none;
}
footer .div2 div{
  display: flex;
}
footer .div2 div div{
  flex: 0 1 150px;
}
.shopHeader{
  padding: 25px;
}
.shopHeader h1{
  margin-bottom: 25px;
  font-family: 'Franklin Gothic Medium';
}
.shopHeader .filterContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopHeader .filters{
  font-family: 'Trebuchet MS';
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  align-items: center;
}
.shopHeader .filters select{
  padding: 8px 15px;
  border: solid 1px gray;
  outline: none;
}